doctype
html(lang="en")
	head
		base(href='/')
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/css/bootstrap-min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
		link(rel="stylesheet", href="/css/style.css")
	body(ng-app="app")
		p hello world
		block main-container
		div
			ng-view
		include scripts