script(type="text/javascript", src="vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="vendor/angular/angular.js")
script(type="text/javascript", src="vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="vendor/angular-route/angular-route.js")
script(type="text/javascript", src="app/app.js")
script(type="text/javascript", src="app/controllers.js")